<html>
    <head>
        <title>AskReddit Reader</title>
        <link rel="stylesheet" type="text/css" href="static/style.css" />
    </head>
    <body>
        <div class='title'>
            <h1>Reddit Reader for r/AskReddit</h1>
        </div>

        <div class='content'>
            <div class='question'>
                <h1 id='question_text'>{{ title }}</h1>
            </div>

            <div class='answer'>
                <p id='answer_text'>{{ comment }}</p>
            </div>
        </div>
    </body>
</html>